html {
    font-size: 62.5%;
    /* BASE SIZE 10px, with default 16px browser */
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Lora', serif;
    color: #000;
}

/* Headings */
h1,
h2,
h3,      
h4,
h5,
{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase ;
}

/* Title Text */
h1{
    font-size: 4.6rem;
    line-height: 2.4rem;
    letter-spacing: 1.1rem;

}
/* Body Style */
h2{
    font-size: 1.8rem;
    line-height: 3.6rem;
    letter-spacing: .5rem;
}
// h3{

// }
// p {
//     white-space: pre;
//     word-break: break-word;
// }

/* 
topBar
topMainMenu
topMobileMenu
subMenu
featureRecipe
button
feature
featureRecipe
featureCategories
featureImg
restaurants
galleryContainer
galleryImg
sticker
quote
card
contactCard
contactCardTitle
contactName
contactAddress
contactTel
postsCard
postsCardTitle
subscribeCard
subscribeEmail
socialIcons
smlSocialIcon


------------------------
Blog Page...
blogHead
featureBlog
blogTitleHead
blogTitle
blogInfo
blogDate
blogBy
blogCategory
blogReveal
blogShown
blogText
blogTagTitle
blogTagItems
blogShareTitle
blogShareSocial
blogSocialIcons /socialIcons(Header) /smlSocialIcon(Header)
blogAuthor
blogAuthorInfo
blogLinks
blogLinkImg
blogLinkTitle


...icons
fas
fa-plus
fa-shopping-bag
fa-search           f002
fa-lemon            f094
fa-utensils         f2e7
fa-coffee           f0f4
fa-glass-martini    f000
fa-leaf             f06c
fa-utensil-spoon    f2e5
fa-quote-left       f10d
fa-quote-right      f10e
fa-chevron-left     f053
fa-chevron-right    f054

..social icons      
fab

fa-instagram        f16d
fa-twitter          f099
fa-facebook-f       f39e
*/

.fa, .fas, .fab, li>i{
	font-weight: 900;
	font-size: 3rem;
}

// 
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        list-style: none;
    }
}
/* FIXES li and ul */
a {
    text-decoration: none;
}

.socialIcons a {
    color: #000;
}