html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  /* BASE SIZE 10px, with default 16px browser */
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Lora", serif;
  color: #000;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
nav li,
nav a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

/* Title Text */
h1 {
  font-size: 4.6rem;
  line-height: 2.4rem;
  letter-spacing: 1.1rem;
}

/* Body Style */
h2 {
  font-size: 1.8rem;
  line-height: 3.6rem;
  letter-spacing: .5rem;
}

nav li,
.socialIcons {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: .2rem;
}

p {
  font-family: "Lora", serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

/* 
topBar
topMainMenu
topMobileMenu
subMenu
featureRecipe
button
feature
featureRecipe
featureCategories
featureImg
restaurants
galleryContainer
galleryImg
sticker
quote
card
contactCard
contactCardTitle
contactName
contactAddress
contactTel
postsCard
postsCardTitle
subscribeCard
subscribeEmail
socialIcons
smlSocialIcon


------------------------
Blog Page...
blogHead
featureBlog
blogTitleHead
blogTitle
blogInfo
blogDate
blogBy
blogCategory
blogReveal
blogShown
blogText
blogTagTitle
blogTagItems
blogShareTitle
blogShareSocial
blogSocialIcons /socialIcons(Header) /smlSocialIcon(Header)
blogAuthor
blogAuthorInfo
blogLinks
blogLinkImg
blogLinkTitle


...icons
fas
<i class="fas fa-plus"></i>
<i class="fas fa-shopping-bag"></i>
<i class="fas fa-search"></i></li>              f002
<i class="fas fa-lemon"></i>                    f094
<i class="fas fa-utensils"></i>                 f2e7
<i class="fas fa-coffee"></i>                   f0f4
<i class="fas fa-glass-martini"></i>            f000
<i class="fas fa-leaf"></i>                     f06c
<i class="fas fa-utensil-spoon"></i>            f2e5
<i class="fas fa-quote-left"></i>               f10d
<i class="fas fa-quote-right"></i>              f10e
<i class="fas fa-chevron-left"></i>             f053
<i class="fas fa-chevron-right"></i>            f054
<i class="fas fa-long-arrow-alt-right"></i>     f30b

..social icons      
fab

fa-instagram        f16d
fa-twitter          f099
fa-facebook-f       f39e
*/
blockquote i,
.feature i {
  font-weight: 900;
  font-size: 3.2rem;
}

.scrollNav i {
  font-size: 2rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

/* FIXES li and ul */
a {
  text-decoration: none;
}

.socialIcons a {
  color: #000;
}

.featureContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-auto-rows: 37.5vw;
}

.galleryContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 21vw;
}

.galleryImg {
  background-color: #777;
}

.featureImg img,
.galleryImg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48.5vw;
}

.restaurant div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 780px;
  position: relative;
  margin: auto;
}

.restaurant div img,
.restaurant div h2,
.restaurant div p {
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.sticker {
  position: absolute;
  z-index: 1;
  top: -115px;
  right: 50px;
}

.restaurant .graphicLine {
  width: 60px;
  height: 3px;
  background-color: #64A604;
}

.restaurant h2 {
  padding: 5% 0 1% 0;
}

.restaurant p {
  padding-top: 3%;
}
